<header class="layout-cabecalho layout-cabecalho--home">
    <div class="container">
        <nav class="navegacao">
                <h1 class="navegacao-titulo"><a  href="/">alsox5</a></h1> 
    
                <div class="navegacao-menu">    
                    
                    <input type="checkbox" id="check">
                    <label id="icone" for="check"><img src="../assets/img/icone.png" alt=""></label>

                    <ul class="menu">
                        
                        <li class="menu__item"><a href="">TUTORIAIS</a></li>
                        <li class="menu__item"><a href="">BLOG</a></li>
                        <li class="menu__item"><a href="">PORTFÓLIO</a></li>
                        <li class="menu__item"><a href="">CONTATO</a></li>
                        <li class="menu__item"><a href="">SOBRE</a></li>
                      
                        <!-- {% for page in site.pages %}
                        <li class="menu__item">
                            <a href={{ page.url }}>{{ page.title }}</a>
                        </li>
                        {% endfor %} -->

                    </ul>
                </div>
         </nav>
    </div>
</header>

