<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#3f729b">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/btn-x.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/curriculo.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/contato.css' | relative_url }}">

  
  <title>{% if page.title %} {{ page.title }} {% else %} {{site.title}} {% endif %}</title>
  
</head>
