<header class="barra_cabecalho ">
    
        <div class="logo">
            <a href="/">
                <img src="{{'../assets/img/alsox5_logo_white.png'| relative_url}}" alt="">
            </a>
        </div>

        <input type="checkbox" id="check">
        <label id="icone" for="check"><span></span></label>
        
        <nav class="barra_menu">
            <ul class="menu">
                
                <li class="menu__item"><a href="">PORTIFÓLIO</a>
                    <ul>
                        <li><a href="">FRONTEND</a></li>
                        <li><a href="">BACKEND</a></li>
                    </ul>
                </li>
                <li class="menu__item"><a href="{{ '../curriculo/' | relative_url }}">CURRÍCULO</a></li>
                <li class="menu__item"><a href="{{'http://www.conhecimentodigital.com.br/hotsite/front_end_i_2'}}" target="_blanck">CURSOS</a></li> 
                <li class="menu__item"><a href="{{ 'http://www.123formbuilder.com/form-4987465/formulario-de-interacao-do-visitante'}}"
                    target="_blanck">CONTATO</a></li>
            </ul>
        </nav>
</header>