<header class="barra-superior">
    <nav class="container">

        <div class="barra-titulo"><a href="/">alsox5</a></div>

        <div class="barra-menu">

            <!--
            <input type="checkbox" id="check">
            <label id="icone" for="check"><img src="../assets/img/icone.png" alt=""></label>-->
            
            <input type="checkbox" id="check">
            <label id="icone" for="check"><span></span></label>
        
            <ul class="menu"> 
                <li class="menu-item"><a href="../tutoriais/">TUTORIAIS</a></li>
                <li class="menu-item"><a href="{{ '../blog/'  | relative_url }}">BLOG</a></li>
                <li class="menu-item"><a href="">PORTFÓLIO</a></li>
                <li class="menu-item"><a href="{{ '../cursos/'  | relative_url }}">CURSOS</a></li>
                <li class="menu-item"><a href="{{ '../contato/' | relative_url }}">CONTATO</a></li>

            </ul>
        </div>
    </nav>

</header>