/* UMA BOA FORMA DE ORGANIZAR OS COMANDOS EM CADA SELETOR CSS
É ORDENAR POR IMPORTANCIA */
*{
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    /*Posicionamento*/


    /*Display e Box Model*/
    min-height: 100%;
    display: flex;
    flex-direction: column;
   
    /*Cores*/
    background-color: #a7b9f2;
    

    /*Texto*/
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    

    /*Outros*/
}

.content {
    flex: 1;
}

/* Essa classe afeta os blocos onde há comandos nos tutoriais*/
.highlight {
    background-color: #d3d3d3;
}
