

input {
    display: none;   
}


@media(max-width: 800px){
    
    label {   
        width: 77px;
        height: 77px;
        
        transition: all .2s linear;
        z-index: 3;
    }
    
    label span {
        width: 26px;
        height: 3px;
        
        top: 25px;
        position: absolute;
        background-color: #fff;
        transition: all .2s linear;
    }

    label span:before {
        content: '';
        width: 26px;
        height: 3px;
        bottom: -7px;
        position: absolute;
        background-color: #fff;
        transition: all .2s linear;
    }

    label span:after {
        content: '';
        width: 26px;
        height: 3px;
        top: -7px;
        position: absolute;
        background-color: #fff;
        transition: all .2s linear;
    }

    #check:checked  ~ label span {
        background-color: transparent;
    }

    #check:checked  ~ label span:before{
        transform: translate(0px, -7px) rotate(-45deg);
    }

    #check:checked ~ label span:after{
        transform: translate(0px, 7px) rotate(45deg);
    }

    #check:checked ~ .barra_menu {
        display: flex;
        transition-delay: .2s;
    }
    
}

@media(min-width:799px){
    
    #icone {
        display: none;
    }
    
}