
.barra-superior {
    position: fixed;
    top: 0;
  
    width: 100%;
    height: 70px;

    background-color: #3f729b;
    box-shadow: 5px 5px 5px #95a4a5;
    z-index: 1;
}

.barra-titulo {
    float: left;   
}

.barra-titulo a {
    color: #eee;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;

    line-height: 70px;
}

.barra-menu {
    font-size: 16px;
    font-weight: bold;
    float: right;
}

.barra-menu  label{
    line-height: 70px;
}

@media(max-width: 999px){
    .menu {
        position: fixed;
        top: 0;
        right: -300px;
        bottom: 0;

        margin-top: 200px;
        height: 100%;
        width: 200px;

        list-style: none;
        background-color: #3f729b;
        transition: all .2s linear;
        opacity: 1;
    }

    .menu .menu-item {
        line-height: 50px;
        background-color: #191970;
        width: 100%;
        transition: all .2s linear;
        border-bottom: 2px solid #050542;
    }

    .menu .menu-item a {
        display: inline-block;
        padding-left: 19px;
        width: 100%;
        color: #fc0;

        text-decoration: none;
    }
    
    .menu .menu-item a:hover {
    background-color: #050542;
    }

}

@media(min-width:1000px){

        ul li {
        display: inline-block;
    }

    .menu {    
        left: 200px;
        line-height: 70px;
     }
    
    .menu .menu-item {
        margin-left: 30px;
     }
    
     .menu .menu-item a {
        width: 150px;
        color: #fc0;
        text-decoration: none;
        padding: 15px 10px;
     }
    
    .menu .menu-item a:hover {
      
      background-color: #050542;
    }
           
}

