/*--------------------*\
           Post
\*--------------------*/

.post__default--direcao {
    display: flex;
    flex-direction: column;   
    flex-wrap: wrap;
}

.layout-post {
    margin-top: 100px;  

}

.post {  
    margin-bottom: -70px; 
    height: 300px;
      
    padding-left: 15px;
    padding-right: 15px;
   
    background-color: #dce2f5;
    
    box-shadow: 5px 5px 5px #444;
    border: 0.5px solid ;
    border-radius: 12px;
 }

 .post:hover {
    background-color: #c3cbe3;
 }


 .post__titulo {
     margin: 0;
    
     color: #00009b;
     text-align: left;
     
     font-weight: normal;
     font-size: 25px;;
 }
 
 .post__data {
     margin: 10px 5px;
     color: #00008b;
     text-align: left;
     font-size: 16px;   
 }
 
 .post__descricao {
     padding: 5px;
     list-style: none;
     font-size: 18px;
     line-height: 22px;
     color: #222;
     
 }
 
 .post__descricao > li {
     text-align: center;
 }

 /* Dispositivos Moveis */
 @media(max-width:800px){

    .post__default_home--direcao {
        display: flex;
        flex-direction: column;   
        flex-wrap: wrap;
    }
    
    
    .post {
        margin-left: 15px;
        max-width: 85vw;
        
     }
}

 /* Dispositivos grandes */
 @media(min-width:799px){
    
    /*
    #link-url {      
        flex: 1; 
        display: flex;
        flex-wrap: wrap;  
    }
    */

    .post__default_home--direcao {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
         
        
    }
    

    .post {
        margin-left: 30px;
        margin-right: 30px;
        width: 350px;
    }
 }

