/*--------------------*\
           Post
\*--------------------*/
.layout-post {
    margin-top: 30px;
}

#link-url {
    text-decoration: none;

}

.post {  

    float: left;

    width: 90%;
    height: 280px;
     
    margin-top: 80px;
    margin-left: 20px;
    
    padding-left: 15px;
    padding-right: 15px;

    background-color: #F0F8FF;

    box-shadow: 5px 5px 5px #95a4a5;
    border: 0.5px solid ;
    border-radius: 2%;
 }


 @media(min-width:600px){
     .post {
        width: 70%;
     }
    
 }

 @media(min-width:800px){
    .post {
       width: 40%;
    }
   
}

@media(min-width:1000px){
    .post {
       width: 30%;
    }
   
}


 .post:hover {
    background-color: #95a4a5;
 }

 .post__titulo {
     margin: 0;
    
     color: #00008b;
     text-align: left;
     
     font-weight: normal;
     font-size: 25px;;
 }
 
 .post__data {
     margin: 10px 5px;
     color: #00008b;
     text-align: left;
     font-size: 16px;   
 }
 
 .post__descricao {
     padding: 5px;
     list-style: none;
     font-size: 16px;
     line-height: 22px;
     color: #00008b;
     
 }
 
 .post__descricao > li {
     text-align: center;
 }

 .post-content {
    margin-top: 130px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 5%;
    padding-right: 5%;

    text-align: justify;

    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
     
 }
 