---
layout: default
---
<style>

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  max-width: 100%;
  margin-top: 50px;
  padding: 10px;
  background-color: aliceblue;
  
}

article header h1 {
  padding: 10px;
  font-size: 22px;
  text-align: center;
  border-bottom: 1px solid #444;

}

article div {
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/

  width: 100%;

  text-align: left !important;
  padding-right: 30px;
  line-height: 2;
}

</style>


<article>

  <header >
    <h1>{{ page.title | escape }}</h1>
  </header>

  <div>
    {{ content }}
  </div>

</article>
